:root {
	--pozadi: lightskyblue;
	--score: red;
}

html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: var(--pozadi);
	background-repeat: repeat;
	background-image: url('obrazky/pozadi/weather.png');
	font-family: 'Press Start 2P', sans-serif;
	font-size: 22px;
	border: 5px;
	border-color: red;
	border-style: inset;

	/*  vyzkoušej i jiná pozadí :)
	background-image: url('obrazky/pozadi/geometry.png');
	background-image: url('obrazky/pozadi/round.png');
	background-image: url('obrazky/pozadi/whirlpool.png');
	background-image: url('obrazky/pozadi/swirl.png');
	background-image: url('obrazky/pozadi/seigaiha.png');
	background-image: url('obrazky/pozadi/hypnotize.png');
	*/
}

#score {
	position: absolute;
	top: 50px;
	left: 50px;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 36px;
	z-index: 999;
	color: var(--score);
}

#minuty {
	position: absolute;
	top: 50px;
	right: 110px;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 22px;
	z-index: 999;
	color: var(--score);
}
#dvojtecka {
	position: absolute;
	top: 50px;
	right: 90px;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 22px;
	z-index: 999;
	color: var(--score);
}
#sekundy {
	position: absolute;
	top: 50px;
	right: 50px;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 22px;
	z-index: 999;
	color: var(--score);
}

#panacek,
#mince {
	position: absolute;
}

#panacek {
	z-index: 1;
}

#ticho {
	position: absolute;
	top: 20px;
	right: 20px;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 22px;
	z-index: 999;
	color: var(--score);
}

#nazev {
	position: absolute;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 64px;
	z-index: 999;
	color: var(--score);
}

#popis {
	position: absolute;
	padding: 10px 10px 10px 10px;
	text-align: center;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 14px;
	z-index: 999;
	color: var(--score);
	background-color: white;
}

span {
	font-size: 72px;
}

#vyhra {
	position: absolute;
	padding: 10px 10px 80px 10px;
	text-align: center;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 34px;
	z-index: 999;
	color: var(--score);
	background-color: white;
	border: 15px solid red;
}

#blik {
	border: 15px solid pink;
}

#tlacitka {
	position: absolute;
	top: 60%;
	left: 50%;
	z-index: 999;
}